[Desktop Entry]
Name=Office Excel 2010
Exec=bash -c "flatpak run --command=bottles-cli com.usebottles.bottles run -p 'EXCEL' -b 'office2010' -- $(echo \\'z:\\"%f\\"\\' | sed 's!/!\\\\\\\\\\\\\\\\!g')"
Type=Application
Terminal=false
Icon=/home/zihad/.var/app/com.usebottles.bottles/data/bottles/bottles/office2010/icons/EXCEL.png
Comment=Launch Office Excel 2010 using Bottles.
StartupWMClass=Office Excel 2010
Actions=Configure;
Categories=Application;Office;Wine;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=flatpak run com.usebottles.bottles -b 'office2010'
